ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyUSB*", SUBSYSTEMS=="usb", KERNELS=="1-2.4", SYMLINK+="rplidar", MODE="0666"
ACTION=="add", SUBSYSTEM=="usb", DEVTYPE=="usb_device", ATTR{idVendor}=="2886", ATTR{idProduct}=="0019", SYMLINK+="respeaker", MODE="0666"
ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyUSB*", SUBSYSTEMS=="usb", KERNELS=="1-2.2", SYMLINK+="imu-encoder-node", MODE="0666"
ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyUSB*", SUBSYSTEMS=="usb", KERNELS=="1-2.1", SYMLINK+="motor-controller", MODE="0666"
