ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyUSB*", SUBSYSTEMS=="usb", KERNELS=="1-2.4", SYMLINK+="rplidar", MODE="0666"
ACTION=="add|change", SUBSYSTEM=="usb", DEVTYPE=="usb_device", ENV{ID_VENDOR_ID}=="2886", ENV{ID_MODEL_ID}=="0019", SYMLINK+="respeaker", MODE:="0666", TAG+="uaccess"
ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyUSB*", SUBSYSTEMS=="usb", KERNELS=="1-2.2", SYMLINK+="imu-encoder-node", MODE="0666"
ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyUSB*", SUBSYSTEMS=="usb", KERNELS=="1-2.1", SYMLINK+="motor-controller", MODE="0666"
